header{
    text-align: center;
    font-size:larger;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-right-style: solid;
    border-right-width: 20px;
    padding: 5px;
}

body{
   background-image:url("weblogo.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 30%;
 
}
aside{
font-size: 16px;
text-align:right; 
border-right-style: solid; 
border-right-width: 20px;
border-color: blueviolet;
padding-right: 10px;
padding-top: 10px;
float: right;


}
aside::first-line{
    font-weight: bold;
}


h1{
    text-align:left;
    font-size:60px;
    
  
    margin-left: 2%;
}

h1, aside{
    display:inline-block;
    vertical-align:top;
}
h2{
    text-align: center;
    font-size:30px;
    font-style: italic;
    font-weight: bold;
    margin-top: 7%;
}

p{
    text-align:justify;
    margin-left: 10%;

    margin-right: 10%;
    font-size: 18px;
    
}

section{
    text-align:justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
    background-color:lightyellow;
    border-style:solid;
    border-width:2px;
    margin-top:5%;
    border-color:green;
    padding: 10px;
    border-left-style: solid; 
border-left-width: 20px;
border-color: green;

a:link{
    font-weight: bold;
}
  
}
footer{
    margin-top:3%;
    text-align: right;
    margin-right: 1%;
    color: gray;
    border-top-style: solid;
    font-style: italic;
    border-width: 2px;
    padding: 5px;
    a:link{
        color: gray;
    }
}
